all:
  hosts:
    {{jpvm}}:
      ansible_host: "{{ jp_IP }}"
      ansible_ssh_private_key_file: {{jp_ssh_key}}
      ansible_user: "{{jp_admin_name}}"
      ansible_port: "2024"
    {{dsvm}}:
      ansible_host: "{{ dsvm_IP }}"
      ansible_ssh_private_key_file: {{dsvm_ssh_key}}
      ansible_user: "{{dsvm_admin_name}}"
  # Add more hosts or groups as needed
## Variables define
  vars:
    aks_name: {{aks_name}}
    rg_name: {{rg_name}}
    rg_location: {{rg_location}}
    tenant_id: {{ lookup('ansible.builtin.env', 'TENANT_ID')|default('nobody', True) }} 
